@charset "utf-8";
@import "core/setting";
@import "core/css3";
@import "core/_mixin";
body{
  min-width: 1200px;
  background: url("../img/login_bg.jpg") bottom center no-repeat;
  background-size: cover;
}
.header{
  width:100%;
  height: 90px;
  display: block;
  >div{
    width:100%;
    position: relative;
    margin:0 auto;
    @extend %clearfix;
    >.head-cap{
      width:300px;
      height: 90px;
      float: left;
      margin-left:30px;
      background: url("../img/login_title.png") no-repeat 0 25px;
    }
    >.head-menu{
      float: left;
      width:90px;
      height: 36px;
      line-height: 36px;
      color:#fff;
      box-sizing: border-box;
      position: relative;
      margin:22px 0 0  28px;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1px;
      font-family: $fontHeiTi;
      >span{
        height: 44px;
        position: absolute;
        left:-28px;
        top:-4px;
        background: #fff;
        width:2px;
      }
    }
  }
}
.login_main{
  width:100%;
  height: 700px;
  display: table;
  table-layout: fixed;
  >.lm-con{
    width:100%;
    display: table-cell;
    table-layout: fixed;
    vertical-align: middle;
  }
}
.lm-form{
  /*height: 600px;*/
  width:440px;
  margin:auto;
  padding-top:100px;
  position: relative;
  >h4{
    width:100%;
    height: 190px;
    display: block;
    background: url("../img/login_title.png") no-repeat 80px -130px;
    position: absolute;
    top:-90px;
  }
  .login-block{
    width:100%;
    border-radius: 20px;
    background: rgba(255,255,255,0.4);
    display: block;
    margin:auto;
    box-sizing: border-box;
    padding:10px 0;
    .log-inputline{
      line-height: 48px;
      padding:16px 0;
      box-sizing: border-box;
      border-bottom:1px solid #eae5e1;
      height: 82px;
      position: relative;
      &.vcode{
        border-bottom:0px solid #eae5e1;
        >input{
          padding-right:200px;
        }
        >img{
          position: absolute;
          width:160px;
          height: 56px;
          right:15px;
          top:14px;
          cursor: pointer;
        }
      }
      >input{
        width:100%;
        height: 48px;
        line-height: 48px;
        box-sizing: border-box;
        padding:0 20px 0 90px;
        background: transparent;
        border:none;
        outline: none;
        font-size: 18px;
        color:#eee;
      }
      >label{
        position: absolute;
        width:66px;
        height: 42px;
        display: block;
        left:10px;
        top:20px;
        line-height: 42px;
        text-align: center;
        border-right: 2px solid #fff;
        >i{
          font-size: 34px;
          color:#f9f9f9;
        }
      }
    }
  }
  .login-link{
    width:100%;
    @extend %clearfix;
    height: 52px;
    line-height: 52px;
    >a{
      line-height: 24px;
      color:#fff;
      float: left;
      padding:0 10px;
      margin:14px 0;
      cursor: pointer;
      font-size: 18px;
      font-family: $fontHeiTi;
      @include transition();
      &.reg_link{
        float: left;
        &:hover{
          color:#1592fa;
        }
      }
      &.rember_pw{
        float: right;
        &:hover {
          color: #ed383d;
        }
      }
    }
  }
  .login_btn{
    width:100%;
    height: 64px;
    line-height: 64px;
    display: block;
    text-align: center;
    color:#fff;
    background: rgba(255,255,255,0.4);
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-family: $fontHeiTi;
    font-size: 20px;
    letter-spacing: 1px;
    @include transition();
    &:hover{
      background: rgba(255,255,255,0.6);
    }
  }
}
.footer{
  padding:10px 0;
  background: #000;
  text-align: center;
  color:#fff;
  >p{
    line-height: 30px;
  }
  >a{
    padding:0 6px;
    line-height: 20px;
    color:#fff;
    cursor: pointer;
    @include transition();
    &:hover{
      color:#ccc;
    }
  }
}
.reg-form{
  width:730px;
  background: rgba(255,255,255,0.3);
  padding-bottom:50px;
  margin:auto;
  border-radius:6px;
  box-shadow: 0 0 2px #ccc;
  position: relative;
  z-index: 1;
  >h4{
    line-height: 78px;
    width:100%;
    box-sizing: border-box;
    display: block;
    padding-left:30px;
    letter-spacing: 1px;
    font-size: 16px;
    color:#fff;
    font-weight: normal;
    border-bottom:1px solid rgba(255,255,255,0.6);
  }
  .ref-fline{
    width:100%;
    display: block;
    @extend %clearfix;
    line-height: 42px;
    margin-top:24px;
    >label{
      width:230px;
      float: left;
      box-sizing: border-box;
      padding-right:30px;
      text-align: right;
      color:#fff;
      font-size: 16px;
      letter-spacing: 1px;
    }
    >input{
      float: left;
      width:275px;
      line-height: 42px;
      height: 42px;
      border: none;
      outline: none;
      box-sizing: border-box;
      padding:0 20px;
      font-size: 16px;
      border-radius: 5px;
    }
    >span{
      float: left;
      padding:0 20px;
      line-height: 25px;
      height: 25px;
      border-radius: 25px;
      background: #00b0d4;
      margin:8px 0 0 25px;
      color:#fff;
    }
  }
  .sub_btn{
    width:275px;
    margin:30px 0 0 230px;
    line-height: 42px;
    height: 42px;
    background: #00b0d4;
    display: block;
    border-radius: 5px;
    color:#fff;
    text-align: center;
    cursor: pointer;
    @include transition();
    &:hover{
      background:lighten(#00b0d4,10%);
    }
  }
}
.reg-review{
  width:730px;
  height: 250px;
  box-sizing: border-box;
  background: rgba(255,255,255,0.3);
  text-align: center;
  padding:80px 0 60px 0;
  border-radius: 10px;
  position: absolute;
  top:50%;
  left:50%;
  display: none;
  z-index: 2;
  opacity: 0;
  @include transition(0.5s);
  @include translate(-50%,-80%);
  &.active{
    opacity: 1;
    @include translate(-50%,-50%);
  }
  >label{
    width:270px;
    height: 42px;
    line-height: 42px;
    color:#fff;
    display: block;
    margin:auto;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 42px;
    background:#00b0d4 ;
  }
  >p{
    line-height: 70px;
    color:#f8f8f8;
    font-size: 14px;
    letter-spacing: 1px;
  }
}